body{ margin:0; font-family:'tahoma'}

nav {
  margin:0 auto;
  width:100%;
  height:auto;
  display:inline-block;
  background:#000000;
}

nav ul {
  margin:0;padding:0;
  list-style-type:none;
  float:left;
  display:inline-block;
}

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  float:left;
  display:inline-block;
  color:#D7B36C;
}

li > a:after { content: ' »'; } /* Change this in order to change the Dropdown symbol */

li > a:only-child:after { content: ''; }

nav ul li a {
  padding:20px;
  display:inline-block;
  color:#D7B36C;
  text-decoration:none;
}

nav ul li a:hover {
  opacity:0.5;
}

nav ul li ul {
  display:none;
  position:absolute;
  left:0;
  background:#A57C2A;
  float:left;
}

nav ul li ul li {
  width:100%;
  border-bottom:1px solid rgba(255,255,255,1);
}

nav ul li:hover ul {
  display:block;
}